@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Staging Environment</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building azure Web apps with ASP.NET Core and deploy it into azure devops</a>.</p>
</div>
